.tailored-form .ant-form-item {
  margin-bottom: 24px;
}

.tailored-form .ant-form-item-with-help {
  margin-bottom: 5px;
}

.tailored-modal .ant-modal-body {
  max-height: 500px;
  overflow: auto;
}

.tailored-modal .ant-modal-body .ant-form-item {
  margin-bottom: 12px;
}

.tailored-modal .ant-modal-body .option-wrap {
  margin-bottom: 12px;
}

.tailored-modal .ant-modal-body .option-item {
  margin-bottom: 0px;
}