@import "./assets/formitem-uploader.css";

/* banner */
.ant-upload-list-picture-card .ant-upload-list-item {
  width: 224px;
  height: 200px;
  margin: 8px;
  background: #dbdbdb;
}

.ant-upload.ant-upload-select-picture-card {
  width: 224px;
  height: 200px;
  margin: 10px 8px;
}

.ant-upload-select-picture-card i {
  display: block;
  margin-top: 40px;
  font-size: 40px;
}

/* user */
.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.ant-input-affix-wrapper {
  margin: 15px 20px 15px 0;
}

.ant-pagination {
  float: right;
  margin-top: 15px;
}

/* order */
.components-table-demo-nested .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
  margin-right: 24px;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

/* ueditor */
.ant-form-item-control .edui-editor div {
  line-height: initial;
}

/* prize */
.prize-image-list .ant-upload-list.ant-upload-list-picture-card {
  max-width: 650px;
}

.prize-image-list .ant-upload-list-item.ant-upload-list-item-done {
  width: 150px;
  height: 150px;
  background-color: #fafafa;
}

.prize-image-list .ant-upload-list-item.ant-upload-list-item-done .ant-upload-list-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize-image-list .ant-upload-select-picture-card {
  margin: 0;
}

/* aquarium-info */

.aquarium-info .ant-form-item-children {
  position: relative;
  display: block;
}

.aquarium-info .ant-form-item-children .dynamic-delete-button {
  position: absolute;
  left: 890px;
  top: 50px;
  cursor: pointer;
}

.ant-layout-sider .ant-layout-sider-children .collapsed {
  transform: none!important;
}

.ant-layout-sider .ant-layout-sider-children {
  z-index: 999!important;
}

.nav.nav-tabs {
  padding-bottom: 180px;
}

.conver-mobile {
  padding-top: 40px;
}

.conver-mobile .ant-form-horizontal {
  padding: 0 10px;
}

.conver-mobile .ant-form-horizontal .ant-input {
  margin-top: 10px;
}

.conver-mobile .ant-table-thead,
.conver-mobile .ant-table-tbody {
  font-size: 12px;
}

.ticket-bundle-editor textarea{
  display: none !important;
}
